<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yama Baby Bingo</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/app.js"></script>
</head>
<body onload="displayBoard({{ card }}, {{ xes }})">
    <div id="bingo-title">
        <div id="team-title">{{ team_name }}</div>
        <div class="yama-baby">YAMA</div>
        <button id="bingo-btn" type="button" onclick="checkBingo('{{ team_name }}', {{ card }})">BINGO!</button>
        <div class="yama-baby">BABY</div>
    </div>
    <div id="game-over">
        <h6 id="game-over-message"></h6>
        <h6 id="press-exit">Press exit to return to home page</h6>
        <button id="exit-btn" type="button" onclick="exitGame()">EXIT</button>
    </div>
    <div id="board"></div>
    <div id="game-menu">
        <a href=https://www.babylist.com/list/cvesxwghy target="_blank">
            <div id="selected" style="background-image: url('../{{ curr }}');"></div>
        </a>
        <a href=https://www.babylist.com/list/cvesxwghy target="_blank">
            <div id="registry" style="background-image: url('../{{ prev }}');"></div>
        </a>
        
    </div>
</body>
</html>