<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YAMA BABY BINGO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js" integrity="sha512-Xm9qbB6Pu06k3PUwPj785dyTl6oHxgsv9nHp7ej7nCpAqGZT3OZpsELuCYX05DdonFpTlBpXMOxjavIAIUwr0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/app.js"></script>
    <link rel= "stylesheet" href="static/styles.css">
</head>
<body>
    <div id="home">
        <h1>YAMA BABY BINGO</h1>
        <div id="home-button-menu">
            <button class="home-button" onclick="toggleForm(document.getElementById('join-form'))">JOIN GAME</button>
            <button class="home-button" onclick="toggleForm(document.getElementById('create-form'))">CREATE GAME</button>
        </div>  
        <div id="welcome">WELCOME!</div>
        {% if error %}
        <ul>
            <li>{{error}}</li>
        </ul>
        {% endif %}
    </div>
    <div id="join-form">
        <form method="post">
            <div id="home-label">TEAM NAME</div>
            <input name="id" id="id" type="hidden" value="join">
            <input name="team-name" id="team-name" type="text">
            <div id="home-label">PASSWORD</div>
            <input name="password" id="password" type="text">
            <div id="submit-div">
                <button type="submit" id="submit">JOIN</button>
            </div>
        </form>
        <div id="cancel" onclick="toggleForm(document.getElementById('join-form'))">
            <p id="cancel-x">X</p>
        </div>
    </div>
    <div id="create-form">
        <form method="post">
            <input name="id" id="id" type="hidden" value="create">
            <div id="home-label">SET PASSWORD</div>
            <input name="password" id="password" type="text">
            <div id="submit-div">
                <button type="submit" id="submit">CREATE GAME</button>
            </div>
        </form>
        <div id="cancel" onclick="toggleForm(document.getElementById('create-form'))">
            <p id="cancel-x">X</p>
        </div>
    </div> 
</body>
</html>